:root {
    --background-color: white;
    --primary-color: rgba(61, 61, 61, 1.0);
    --primary-color-bright: rgba(75, 75, 75, 1.0);
    --primary-color-dim: rgba(61, 61, 61, 0.2);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: var(--primary-color-dim);
}

.flat {
    color: var(--primary-color);
    text-decoration: none;
    background-color: transparent;
    padding: 0.3rem;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
}

.flat-border {
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 4px;
}

.flat-border:hover {
    outline: auto;
}

.flat-border:focus {
    border: 3px solid var(--primary-color);
    font-weight: bold;
}

.flat-fill {
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: inherit;
}

.flat-fill:hover {
    background-color: var(--primary-color-bright);
}

.flat-fill:active {
    padding: 0.3rem;
}

.captura {
    display: grid;
    grid-template-columns: 6em minmax(auto, 50em);
    row-gap: 0.5rem;
}

header h1 {
    color: var(--primary-color);
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* min-width: 20rem;
    max-width: 56rem; */
}

.item {
    padding: 0.5rem;
    text-align: center;
    border: 0.25px solid var(--primary-color);
    color: var(--primary-color);
}

.column-name {
    padding: 0.5rem;
    text-align: center;
    border-top: 0.25px solid var(--primary-color);
    border-bottom: 0.25px solid var(--primary-color);
    /* background-color: var(--primary-color); */
    /* color: var(--background-color); */
    font-weight: 600;
}

#datos-auditoria {
    display: grid;
    grid-template-columns: auto auto;
}

.dato-auditoria {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0.15rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.key {
    font-weight: 600;
    text-align: right;
}

.value {
    text-align: left;
}

#area-firma {
    margin-top: 6rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#linea-firma {
    border-bottom: 1px solid black;
}

#nombre-responsable {
    margin-top: 0.5em;
}

#leyenda-firma {
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}